<%= form_for @banner, url: url, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :title, class: 'col-lg-1 control-label' %>
    <div class="col-lg-4"><%= f.text_field :title, class: 'col-lg-4 form-control', required: true %></div>
  </div>

  <div class="form-group">
    <%= f.label :image, class: 'col-lg-1 control-label' %>
    <div class="col-lg-4"><%= f.file_field :image, class: 'col-lg-4 form-control', required: true %></div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-1 col-lg-10">
      <%= f.submit '保存', class: "btn btn-sm btn-primary" %>
      &nbsp
      <%= link_to '返回', '#', class: "btn btn-sm btn-info", onclick: "history.back()" %>
    </div>
  </div>
<% end %>