<div class="nav-content-head">
  <ul class="breadcrumb">
    <li><span class="primary-font"><i class="icon-home"></i></span><a href="/admin/home"> Home</a></li>
    <li>banner管理</li>
    <li>全部banner</li>
  </ul>

  <%= link_to new_admin_banner_path, class: 'btn-new btn btn-primary marginTB-xs' do %>
    <i class="fa fa-plus m-right-xs"></i>New Banner
  <% end %>
</div>


<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="table-responsive">
      <%= dt id: 'banners_datatable', class: 'table table-striped b-t b-b', :'data-url' => admin_banners_path(:format => :json) do %>
        <%= dt_col(Banner.hn(:title), data: {data: 'title'}) %>
        <%= dt_col(Banner.hn(:image), data: {data: 'image'}) %>
        <%= dt_col(Banner.hn(:action), data: {data: 'actions'}) %>
      <% end %>
    </div>
  </div>
</div>

<%# content_for :scripts do %>
  <%#= controller_js_include %>
<%# end %>

<script>
  (function() {
    using(Utils.Datatables, function(ctx) {
      var dt;
      return dt = ctx.newForAjax('#banners_datatable', {
        bDestroy: true,
        scrollX: false
      });
    });

  }).call(this);
</script>