<% content_for :outside_container do %>
  <div id="popup-container" class="modal fade" tabindex="-1" data-width=1000></div>
<% end %>

<div class="nav-content-head">
  <ul class="breadcrumb">
    <li><span class="primary-font"><i class="icon-home"></i></span><a href="/admin/dashboard"> 首页</a></li>
    <li>上架管理</li>
  </ul>
</div>

<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="table-responsive">
      <%= dt id: 'off_shelf_items_datatable', class: 'table table-striped b-t b-b', :'data-url' => off_shelf_list_admin_shelf_items_path(:format => :json) do %>
        <%= dt_col(Product.hn(:product_id), data: { data: 'product_id' }) %>
        <%= dt_col(Product.hn(:product_name), data: { data: 'product_name' }) %>
        <%= dt_col(Product.hn(:thumb), data: { data: 'thumb' }) %>
        <%= dt_col(Product.hn(:category), data: { data: 'category' }) %>
        <%= dt_col(Product.hn(:created_at), data: { data: 'created_at' }) %>
        <%= dt_col(Product.hn(:action), data: { data: 'action' }) %>
      <% end %>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <%= controller_js_include %>
<% end %>
