<div class="nav-content-head">
  <ul class="breadcrumb">
    <li><span class="primary-font"><i class="icon-home"></i></span><a href="/admin/home"> Home</a></li>
    <li>订单管理</li>
    <li>订单查询</li>
  </ul>
</div>

<div class="smart-widget">
  <div class="smart-widget-header">
    <h4>订单查询</h4>
  </div>
  <div class="smart-widget-inner">
    <div class="smart-widget-body">
      <div class="row">
        <%= form_tag nil, remote: true, method: :get do %>
          <div class="col-md-2">
            <%= text_field_tag :user_id, nil, class: 'form-control filter-input', placeholder: '用户id', data: { :prop => 'user_id' }  %>
          </div>

          <div class="col-md-2">
            <%= text_field_tag :order_id, nil, class: 'form-control filter-input', placeholder: '订单编号', data: { :prop => 'order_id' }  %>
          </div>

          <div class="col-md-2">
            <%= select_tag :order_status, "<option value='2'>未发货</option><option value='3'>已发货</option><option value='4'>已完成</option>", class: 'form-control filter-input', prompt: '- 请选择订单状态 -', data: { :prop => 'order_status' } %>
          </div>

          <div class="col-md-2">
            <%= text_field_tag :start_date, nil, id: 'datetimepicker1', class: 'form-control filter-input', placeholder: '起始时间', data: { :prop => 'start_date' } %>
          </div>

          <div class="col-md-2">
            <%= text_field_tag :end_date, nil, id: 'datetimepicker2', class: 'form-control filter-input', placeholder: '结束时间', data: { :prop => 'end_date' } %>
          </div>

          <div class="col-md-1">
            <%= button_tag '查  询', type: 'button', id: 'query-btn', class: "btn btn-primary" %>
          </div>

          <div class="col-md-1">
            <button class="btn btn-primary">导  出</button>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="table-responsive">
      <%= dt id: 'query_orders_datatable', class: 'table table-striped b-t b-b', :'data-url' => query_orders_admin_orders_path(:format => :json) do %>
        <%= dt_col(Order.hn(:user_id), data: {data: 'user_id'}) %>
        <%= dt_col(Order.hn(:order_id), data: {data: 'order_id'}) %>
        <%= dt_col(Order.hn(:order_status), data: {data: 'order_status'}) %>
        <%= dt_col(Order.hn(:total_price), data: {data: 'total_price'}) %>
        <%= dt_col(Order.hn(:created_at), data: {data: 'created_at'}) %>
      <% end %>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <%= controller_js_include %>
<% end %>