<div class="demo-content" id="demo-content">
  <p>
    们以我到他会作时要动国产的，一是工就年阶义发成部民可出能方进在，了不和有大这主中人上为来分生对于学下级地，个用同行面说种过命度
    革而多子后自社加小机也经力线本电高量长党得实，家定深法表着水理化争现所二起政，三好十战无，农使性前等反体，合斗路图把结第里正新开。
  </p>

  <%= image_tag 'hebe.jpg', class: 'attached-img' %>

  <p>
    论之物从当两些还天资事，队批点育重其思与间内去因件日利相由压，员气业代全组数果期导平各基，或月毛然如应形想制心样干都向变关问比
    展那它最及外没看，治提五解系林者米群头意只明四道马认次文，但条较克又公孔领军流入接席，位情运，器并飞原油放立题质指，建区验活众很。
  </p>

  <div class="attached-goods p-t p-b">
    <div class="col-left">
      <%= image_tag 'p1.jpg' %>
    </div>
    <div class="col-right m-l">
      <div class="goods-title">
        商品标题商品标题商品标题商品标题
      </div>
      <div class="goods-price m-t">
        ¥ 235
      </div>
      <a href="http://baidu.com" class="btn-buy btn-default btn-highlight m-t">
        前往购买
      </a>
    </div>
  </div>

  <%= image_tag 'lyf.jpg', class: 'attached-img' %>

  <p>
    教决特此常石强极土少已根共直团统式，转别造切九你取西持总，料连任志观调七么山程百报更见必真保热委手改管处己将修支识病象几先老。
    光专什六型具示复安，带每东增则完风回南广劳轮科北打积车计给节，做务被整联步类集号列温装即毫，知轴研单色坚据速防史拉世设达尔场织。
    历花
  </p>

  <%= image_tag 'leaf.jpg', class: 'attached-img' %>

  <p>
    光专什六型具示复安带每东增则完风回南广劳轮科北打积车计给节做务，被整联步类集号列温装即毫知轴研单色坚据速防史拉世设达尔场织。
    历花。
  </p>

  <div class="attached-goods p-t p-b">
    <div class="col-left">
      <%= image_tag 'p1.jpg' %>
    </div>
    <div class="col-right m-l">
      <div class="goods-title">
        商品标题商品标题商品标题商品标题
      </div>
      <div class="goods-price m-t">
        ¥ 235
      </div>
      <a href="http://baidu.com" class="btn-buy btn-default btn-highlight m-t">
        前往购买
      </a>
    </div>
  </div>

</div>