<div class="shelf-items-wrapper">
  <ul class="shelf-items-list">
    <% @shelf_items.each do |p| %>
      <%= link_to shelf_item_path p.id do %>
        <li class="item">
          <%= image_tag p.thumb.to_s %>
          <div class="item-property p-b">
            <div class="item-name">
              <%= p.product_name.to_s %>
            </div>
            <div class="item-bottom">
              <div class="item-price red">
                ¥<%= '%.2f' % p.price.to_s %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<%= render template: 'shared/tabs' %>

<% content_for :title, set_title('好物') %>