<div id="overlay"></div>

<div class="shelf-item-detail">
  <div class="big-thumb">
    <%= image_tag @shelf_item.thumb %>
  </div>

  <div class="main">
    <div class="main-left">
      <div class="price">
        <span class="big-price">￥<%= @shelf_item.price %></span>
        <span class="coin"><%= @shelf_item.gyb_discount %>公益币</span>
      </div>

      <div class="info">
        <dl class="dl-clear">
          <dt>销量：</dt>
          <dd>20件</dd>
        </dl>

        <dl class="dl-clear">
          <dt>好评：</dt>
          <dd>100%</dd>
        </dl>

        <dl class="dl-clear">
          <dt>数量：</dt>
          <dd>100</dd>
        </dl>
        <p class="stock">（库存1000件）</p>

      </div>

      <div class="count"></div>
    </div>

    <div class="main-right">
      <ul class="attrs">
        <li>包邮</li>
        <li>可使用公益币</li>
        <li>可获得公益币</li>
        <li>公益项目</li>
      </ul>
    </div>
  </div>

  <div class="nav">
    <ul>
      <li><%= link_to '商品详情', 'javascript:;', class: 'detail' %>
      <span class="split"></span>
      <li><%= link_to '评论', '#', class: 'comments' %>
    </ul>
  </div>

  <div class="detail-body m-t m-b m-r m-l p-r p-l p-t p-b">
    <%= @shelf_item.product_detail.to_s.html_safe %>
  </div>

  <div class="buttons">
    <button id="buy-btn" class="btn btn-default btn-highlight m-l m-r p-t p-b">立即购买</button>
    <button id="cart-btn" class="btn btn-default m-l m-r p-t p-b">加入购物车</button>
  </div>
</div>

<div class="confirm-box" id="confirm-box">
  <%= form_tag '/orders', method: :post do %>
    <div class="delivery-addr">
      <p class="inline-block"><%= @address.receiver_name.to_s %></p>
      <p class="inline-block"><%= @address.mobile.to_s %></p>
      <p><%= @address.province.to_s + @address.city.to_s + @address.district.to_s %></p>
      <p><%= @address.detail_address.to_s %></p>
    </div>

    <div class="item-number" data-trigger="spinner" id="spinner">
      <p>购买数量：</p>
      <a href="javascript:;" data-spin="down" class="minus">-</a>
      <%= text_field_tag :count, '1', class: 'count', data: { rule: 'quantity', max: '10' } %>
      <a href="javascript:;" data-spin="up" class="plus">+</a>
    </div>

    <%= hidden_field_tag 'aid', @address.id %>
    <%= hidden_field_tag 'siid', @shelf_item.id %>

    <div class="buttons">
      <%= submit_tag '确定提交', id: 'confirm-btn', class: 'btn btn-default btn-highlight m-l m-r p-t p-b', data: { id: @shelf_item.id } %>
    </div>
  <% end %>
</div>

<script>
  $(document).ready(function () {
    $('#buy-btn').on('click', function () {
      $('#overlay').fadeIn('fast', function () {
        $('#confirm-box').animate({height: 'toggle'}, 'fast')
      })
    });
    $('#overlay').on('click', function () {
      $('#confirm-box').animate({height: 'toggle'}, 'fast', function () {
        $('#overlay').fadeOut('fast')
      })
    });
  })
</script>
