<div class="homepage" id="homepage">
  <div class="banner-swiper" id="banner-swiper">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <ul class="nav-list s-s" id="nav-list">
    <li class="nav-item m-t m-b">
      <%= link_to shelf_items_path do %>
        <div class="nav-item-icon">

        </div>
        <div class="nav-item-name">
          商品
        </div>
      <% end %>
    </li>

    <li class="nav-item m-t m-b">
      <div class="nav-item-icon">

      </div>
      <div class="nav-item-name">
        义卖
      </div>
    </li>

    <li class="nav-item m-t m-b">
      <div class="nav-item-icon">

      </div>
      <div class="nav-item-name">
        拍卖
      </div>
    </li>

    <li class="nav-item m-t m-b">
      <%= link_to projects_path do %>
        <div class="nav-item-icon">

        </div>
        <div class="nav-item-name">
          项目
        </div>
      <% end %>
    </li>
  </ul>

  <div class="rcmds s-s p-b" id="rcmds">
    <div class="header-section p-t p-l p-r">
      <p class="title">推荐</p>
    </div>

    <div class="rcmds-list s-s p-l p-r m-t">
      <% @recommended_products.each do |p| %>
        <%= link_to shelf_item_path p.id do %>
          <div class="goods-item m-t">
            <%= image_tag p.thumb %>
          </div>
        <% end %>
      <% end %>
      <!--<div class="goods-item m-t">-->

      <!--</div>-->

      <div class="project-item m-t p-b">
        <div class="project-pic">
          <%= image_tag '1.png' %>
        </div>

        <div class="project-info p-t p-b">
          <p class="title">这里输入标题</p>

          <p class="description">这里输入描述这里输入描述这里输入描述这里输入描述这里输入描述</p>

          <div class="progress">
            <div class="progress-bar">
              <div class="green-bar"></div>
            </div>
            <div class="progress-percent">
              <p>40%</p>
            </div>
          </div>

          <div class="support-info">
            <div class="supporters p-r">
              <p class="total">20</p>

              <p>支持人数</p>
            </div>
            <div class="money p-r">
              <p class="total">5000</p>

              <p>累计款项</p>
            </div>
            <div class="target p-r">
              <p class="total">12500</p>

              <p>目标</p>
            </div>
          </div>
        </div>

      </div>

      <div class="project-item m-t p-b">
        <div class="project-pic">
          <%= image_tag '1.png' %>
        </div>

        <div class="project-info p-t p-b">
          <p class="title">这里输入标题</p>

          <p class="description">这里输入描述这里输入描述这里输入描述这里输入描述这里输入描述</p>

          <div class="progress">
            <div class="progress-bar">
              <div class="green-bar"></div>
            </div>
            <div class="progress-percent">
              <p>40%</p>
            </div>
          </div>

          <div class="support-info">
            <div class="supporters p-r">
              <p class="total">20</p>

              <p>支持人数</p>
            </div>
            <div class="money p-r">
              <p class="total">5000</p>

              <p>累计款项</p>
            </div>
            <div class="target p-r">
              <p class="total">12500</p>

              <p>目标</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="hot s-s" id="hot">
    <div class="header-section p-t p-l p-r">
      <p class="title">热卖商品</p>
      <a href="#" class="all">查看全部 &nbsp;<i class="fa fa-angle-right fa-lg"></i></a>
    </div>

    <div class="hot-items m-t">
      <div class="goods-item m-t">

      </div>
      <div class="goods-item m-t">

      </div>
      <div class="goods-item m-t">

      </div>
      <div class="goods-item m-t">

      </div>
    </div>
  </div>

  <div class="projects s-s" id="projects">
    <div class="header-section p-t p-l p-r">
      <p class="title">公益项目</p>
      <a href="#" class="all">查看全部 &nbsp;<i class="fa fa-angle-right fa-lg"></i></a>
    </div>

    <div class="project-item m-t p-b">
      <div class="project-pic">
        <%= image_tag '1.png' %>
      </div>

      <div class="project-info p-t p-b">
        <p class="title">这里输入标题</p>

        <p class="description">这里输入描述这里输入描述这里输入描述这里输入描述这里输入描述</p>

        <div class="progress">
          <div class="progress-bar">
            <div class="green-bar"></div>
          </div>
          <div class="progress-percent">
            <p>40%</p>
          </div>
        </div>

        <div class="support-info">
          <div class="supporters p-r">
            <p class="total">20</p>

            <p>支持人数</p>
          </div>
          <div class="money p-r">
            <p class="total">5000</p>

            <p>累计款项</p>
          </div>
          <div class="target p-r">
            <p class="total">12500</p>

            <p>目标</p>
          </div>
        </div>
      </div>
    </div>

    <div class="project-item m-t p-b">
      <div class="project-pic">
        <%= image_tag '1.png' %>
      </div>

      <div class="project-info p-t p-b">
        <p class="title">这里输入标题</p>

        <p class="description">这里输入描述这里输入描述这里输入描述这里输入描述这里输入描述</p>

        <div class="progress">
          <div class="progress-bar">
            <div class="green-bar"></div>
          </div>
          <div class="progress-percent">
            <p>40%</p>
          </div>
        </div>

        <div class="support-info">
          <div class="supporters p-r">
            <p class="total">20</p>

            <p>支持人数</p>
          </div>
          <div class="money p-r">
            <p class="total">5000</p>

            <p>累计款项</p>
          </div>
          <div class="target p-r">
            <p class="total">12500</p>

            <p>目标</p>
          </div>
        </div>
      </div>
    </div>

    <div class="project-item m-t p-b">
      <div class="project-pic">
        <%= image_tag '1.png' %>
      </div>

      <div class="project-info p-t p-b">
        <p class="title">这里输入标题</p>

        <p class="description">这里输入描述这里输入描述这里输入描述这里输入描述这里输入描述</p>

        <div class="progress">
          <div class="progress-bar">
            <div class="green-bar"></div>
          </div>
          <div class="progress-percent">
            <p>40%</p>
          </div>
        </div>

        <div class="support-info">
          <div class="supporters p-r">
            <p class="total">20</p>

            <p>支持人数</p>
          </div>
          <div class="money p-r">
            <p class="total">5000</p>

            <p>累计款项</p>
          </div>
          <div class="target p-r">
            <p class="total">12500</p>

            <p>目标</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="charity-auction s-s" id="charity-auction">
    <div class="header-section p-t p-l p-r">
      <p class="title">爱心拍卖</p>
      <a href="#" class="all">查看全部 &nbsp;<i class="fa fa-angle-right fa-lg"></i></a>
    </div>

    <div class="auction-list p-l p-r m-t m-b" id="auction-list">
      <div class="auction-item m-b">
        <div class="auction-thumb">

        </div>
        <div class="auction-price m-t">
          <p class="price">起拍价：<span>100元</span></p>
          <%= image_tag 'auction.png', class: 'auction-going' %>
        </div>
      </div>

      <div class="auction-item m-b p-b">
        <div class="auction-thumb">

        </div>
        <div class="auction-price m-t">
          <p class="price">起拍价：<span>100元</span></p>
          <%= image_tag 'auction.png', class: 'auction-going' %>
        </div>
      </div>

    </div>

  </div>

  <div class="charity-sale s-s m-b" id="charity-sale">
    <div class="header-section p-t p-l p-r">
      <p class="title">爱心义卖</p>
      <a href="#" class="all">查看全部 &nbsp;<i class="fa fa-angle-right fa-lg"></i></a>
    </div>

    <div class="claim m-t">
      <p>义卖所得将全部用于公益慈善</p>
    </div>

    <div class="charity-sale-list">
      <div class="goods-item m-t">

      </div>
      <div class="goods-item m-t">

      </div>
    </div>

  </div>

  <div class="bottom-nav s-s" id="bottom-nav">
    <div class="bottom-nav-fixed m-t m-b p-t p-b">
      <%= link_to root_path do %>
        <i class="fa fa-home">&nbsp;&nbsp;首页</i>
      <% end %>
      <%= link_to personal_center_home_index_path do %>
        <i class="fa fa-user">&nbsp;&nbsp;我</i>
      <% end %>
      <%= link_to do %>
        <i class="fa fa-shopping-bag">&nbsp;&nbsp;购物袋</i>
      <% end %>
    </div>
  </div>

</div>


<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    autoplay: 3000,
    loop: true
  });
</script>