<div class="my-gyb" id="my-gyb">
  <div class="profile">
    <div class="avatar">
      <%= image_tag @user.headimgurl.to_s %>
    </div>
    <div class="wx_name">
      <p><%= @user.nickname.to_s %></p>
    </div>
    <div class="total-gyb">
      <p>100</p>

      <p class="tt">公益币</p>
    </div>
  </div>

  <div class="switch-tabs p-t p-b" id="switch-tabs">
    <div class="tabs-wrapper p-b p-t p-l p-r">
      <span class="income">
        收入
      </span>
      <span class="cost">
        支出
      </span>
    </div>
  </div>

  <div class="exchange p-t p-b">
    <div class="remarks m-t m-b p-t p-b">
      输入兑换码兑换公益币
    </div>

    <div class="exchange-area">
      <%= form_tag("/home/exchange", method: "get") do %>
        <%= text_field_tag(:exchange_code, nil, :placeholder => "输入兑换码", :class => 'exchange-box m-r') %>
        <%= submit_tag("兑换", :class => 'exchange-btn m-l' )%>
      <% end %>
    </div>
  </div>

  <div class="gyb-got" id="gyb-got">
    <div class="remarks m-t m-b p-t p-b">以下是您获得的公益币</div>

    <div class="gyb-item s-s">
      <div class="gyb-item-head">
        <i class="menu-icon fa fa-tag fa-lg"></i>
        <p class="menu-name">2016.5.1</p>
        <i class="arrow fa fa-angle-right fa-2x"></i>
      </div>

      <div class="gyb-item-pic p-l">
        <%= image_tag 'p1.jpg' %>
      </div>

      <div class="gyb-item-detail m-t m-l">
        <p class="gyb-source">
          这里是公益币的来源，可以是项目名称或是捐赠物品的名称，或是参加的活动
        </p>
        <p class="gyb-plus m-t">
          感谢您的爱心，您获得&nbsp;<span>+100</span>&nbsp;公益币！
        </p>
      </div>

    </div>
  </div>



</div>