<div class="nav-content-head">
  <ul class="breadcrumb">
    <li><span class="primary-font"><i class="icon-home"></i></span><a href="/admin/dashboard"> 首页</a></li>
    <li>公益券管理</li>
    <li>全部公益券</li>
  </ul>

  <%= link_to new_admin_gyb_path, class: 'btn-new btn btn-primary marginTB-xs' do %>
    <i class="fa fa-plus m-right-xs"></i>New Gyb
  <% end %>
</div>

<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="table-responsive">
      <%= dt id: 'gybs_datatable', class: 'table table-striped b-t b-b', :'data-url' => admin_gybs_path(:format => :json) do %>
        <%= dt_col(Gyb.hn(:id), data: { data: 'id' }) %>
        <%= dt_col(Gyb.hn(:title), data: { data: 'title' }) %>
        <%= dt_col(Gyb.hn(:gyb_type), data: { data: 'gyb_type' }) %>
        <%= dt_col(Gyb.hn(:price), data: { data: 'price' }) %>
        <%= dt_col(Gyb.hn(:exchange_code), data: { data: 'exchange_code' }) %>
        <%= dt_col(Gyb.hn(:stock), data: { data: 'stock' }) %>
        <%= dt_col(Gyb.hn(:expiration_time), data: { data: 'expiration_time' }) %>
        <%= dt_col(Gyb.hn(:created_at), data: { data: 'created_at' }) %>
        <%= dt_col(Gyb.hn(:action), data: { data: 'actions' }) %>
      <% end %>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <%= controller_js_include %>
<% end %>
