<% if @gyb_incomes %>
    <div class="gyb-record" id="gyb-income">
      <div class="remarks m-t m-b p-t p-b">以下是您获得的公益币</div>

      <% @gyb_incomes.each do |ele| %>
          <div class="gyb-item s-s">
            <div class="gyb-item-head">
              <i class="menu-icon fa fa-tag fa-lg"></i>
              <p class="menu-name"><%= ele.created_at.strftime('%Y-%m-%d %T').to_s %></p>
              <!--<i class="arrow fa fa-angle-right fa-2x"></i>-->
            </div>

            <div class="gyb-item-pic m-t m-b">
              <%= image_tag 'gyb.png' %>
            </div>

            <div class="gyb-item-detail m-t m-b m-l">
              <p class="gyb-source">
                <%= ele.gyb.title.to_s %>
              </p>
              <p class="gyb-plus m-t">
                感谢您的爱心，您获得&nbsp;<span><%= ele.gyb.price.to_s %></span>&nbsp;公益币。
              </p>
            </div>
          </div>
      <% end %>
    </div>
<% end %>

<% if @gyb_payments %>
    <div class="gyb-record" id="gyb-cost">
      <div class="remarks m-t m-b p-t p-b">以下是您支出的公益币</div>

      <% @gyb_payments.each do |ele| %>
          <div class="gyb-item s-s">
            <div class="gyb-item-head">
              <i class="menu-icon fa fa-tag fa-lg"></i>
              <p class="menu-name"><%= ele.created_at.strftime('%Y-%m-%d %T').to_s %></p>
              <!--<i class="arrow fa fa-angle-right fa-2x"></i>-->
            </div>

            <div class="gyb-item-pic m-t m-b">
              <%= image_tag ShelfItem.find_by_product_id(ele.shelf_item_id).try(:thumb) %>
            </div>

            <div class="gyb-item-detail m-t m-b m-l">
              <p class="gyb-source">

              </p>
              <p class="gyb-plus m-t">
                您为商品&nbsp;
                <span><%= ele.shelf_item_id.to_s %></span>&nbsp;支出
                <span>&nbsp;<%= ShelfItem.find_by_product_id(ele.shelf_item_id).try(:gyb_discount).to_i %>&nbsp;</span>
                公益币。
              </p>
            </div>
          </div>
      <% end %>
    </div>
<% end %>

<% if @gyb_incomes.nil? && @gyb_payments == [] %>
    <div class="no-records">尚无支出记录。</div>
<% end %>

<% if @gyb_incomes == [] && @gyb_payments.nil? %>
    <div class="no-records">尚无收入记录。</div>
<% end %>

</div>