<div class="nav-content-head">
  <ul class="breadcrumb">
    <li><span class="primary-font"><i class="icon-home"></i></span><a href="/admin/home"> Home</a></li>
    <li>项目管理</li>
    <li>推荐位项目</li>
  </ul>
</div>

<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="table-responsive">
      <%= dt id: 'recommended_projects_datatable', class: 'table table-striped b-t b-b', :'data-url' => recommended_projects_admin_projects_path(:format => :json)  do %>
        <%= dt_col(Project.hn(:project_id), data: { data: 'project_id' }) %>
        <%= dt_col(Project.hn(:project_name), data: { data: 'project_name' }) %>
        <%= dt_col(Project.hn(:thumb), data: { data: 'thumb' }) %>
        <%= dt_col(Project.hn(:banner), data: { data: 'banner' }) %>
        <%= dt_col(Project.hn(:main_pic), data: { data: 'main_pic' }) %>
        <%= dt_col(Project.hn(:category), data: { data: 'category' }) %>
        <%= dt_col(Project.hn(:goal), data: { data: 'goal' }) %>
        <%= dt_col(Project.hn(:created_at), data: { data: 'created_at' }) %>
        <%= dt_col(Project.hn(:more_actions), data: { data: 'more_actions' }) %>
      <% end %>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <%= controller_js_include %>
<% end %>