<div id="order-pay" class="order-pay">
  <div class="delivery-addr p-l p-r">
    <p class="inline-block"><%= @order_detail.receiver_name.to_s %></p>
    <p class="inline-block"><%= @order_detail.mobile.to_s %></p>
    <p><%= @order_detail.province.to_s + '  ' +  @order_detail.city.to_s + '  ' + @order_detail.district.to_s + '  ' + @order_detail.detail_address.to_s %></p>
  </div>

  <div class="brief-info m-t m-b">
    <div class="product-thumb p-l p-r">
      <%= image_tag @order_detail.shelf_item.thumb %>
    </div>

    <div class="product-name m-r m-l m-t m-b">
      <p><%= @order_detail.product_name.to_s %></p>
    </div>

    <div class="product-price red p-b p-l p-r">
      <p class="inline-block">￥<%= '%.2f' % @order_detail.price.to_s %></p>
    </div>

    <div class="product-count red p-b p-l p-r">
      <p class="inline-block">x<%= @order_detail.count.to_s %></p>
    </div>
  </div>

  <div class="delivery p-l p-r p-b p-t">
    <p class="inline-block">配送方式</p>
    <p class="inline-block right-align">快递包邮</p>
  </div>

  <% if current_user.gyb < @order_detail.gyb_discount %>
    <div class="gyb-discount p-l p-r p-b p-t">
      <p class="inline-block">公益优惠</p>
      <p class="inline-block right-align red">&nbsp;￥0</p>
      <div class="tip">共&nbsp;<%= current_user.gyb %>&nbsp;公益币, 不足抵扣</div>
    </div>
  <% else %>
    <div class="gyb-discount p-l p-r p-b p-t">
      <p class="inline-block">公益优惠</p>
      <p class="inline-block right-align red">&nbsp;￥<%= '%.2f' % (@order_detail.gyb_discount/100) %></p>
      <div class="tip">共&nbsp;<%= current_user.gyb %>&nbsp;个公益币, 本次使用&nbsp;<%= @order_detail.gyb_discount.to_i %>&nbsp;个</div>
    </div>
  <% end %>

  <div class="total-price p-l p-r p-b p-t">
    <p class="inline-block">合计</p>
    <p class="inline-block right-align red">￥<%= '%.2f' % @order_detail.order.total_price %></p>
  </div>

  <div class="buttons m-t">
    <%= button_tag '立即支付', id: "pay-btn", class: "btn btn-default btn-highlight btn-middle m-l m-r p-t p-b", data: { id: @order_detail.order_id, disable_with: "正在发起支付..."} %>
  </div>
</div>

<% content_for :title, set_title('订单支付') %>