<div class="order-detail" id="order-detail">
  <div class="order-detail-head p-l p-r">
    <p class="t-left">订单号: <%= @order_detail.order.order_id.to_s %></p>

    <div class="order-status t-right">
      <p><%= @order_detail.order.order_status.to_s %></p>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="delivery-addr m-b p-l p-r">
    <p class="inline-block"><%= @order_detail.receiver_name.to_s %></p>
    <p class="inline-block"><%= @order_detail.mobile %></p>
    <p><%= @order_detail.province.to_s + '  ' +  @order_detail.city.to_s + '  ' + @order_detail.district.to_s + '  ' + @order_detail.detail_address.to_s %></p>
  </div>

  <div class="product-info p-t p-b">
    <div class="product-thumb p-l p-r">
      <%= image_tag Product.find_by_product_id(@order_detail.product_id).try(:thumb) %>
    </div>

    <div class="product-name m-r m-l m-t">
      <p><%= @order_detail.product_name.to_s %></p>
    </div>

    <div class="product-count m-r m-l m-t">
      <p class="inline-block">x<%= @order_detail.count.to_s %></p>
    </div>
  </div>

  <div class="pay-info m-t p-l p-r">
    <div class="border-bottom">
      <p class="inline-block t-left">支付方式</p>
      <p class="inline-block t-right">微信支付</p>
      <div class="clear"></div>
    </div>
    <div>
      <p class="inline-block t-left">单价</p>
      <p class="inline-block t-right red">￥<%= @order_detail.price.to_s %></p>
      <div class="clear"></div>
    </div>
    <div>
      <p class="inline-block t-left">公益优惠</p>
      <p class="inline-block t-right red">￥<%= @order_detail.gyb_discount.to_s %></p>
      <div class="clear"></div>
    </div>
    <div class="border-bottom">
      <p class="inline-block t-left">运费</p>
      <p class="inline-block t-right red">￥0</p>
      <div class="clear"></div>
    </div>
    <div class="border-bottom">
      <p class="inline-block t-left">实付款</p>
      <p class="inline-block t-right red">￥<%= @order_detail.order.total_price %></p>
      <div class="clear"></div>
    </div>
    <div>
      <p class="inline-block t-right"><%= @order_detail.created_at.strftime("%Y.%m.%d %H:%M:%S") %></p>
      <div class="clear"></div>
    </div>
  </div>

  <% if @order_detail.order.order_status.to_s == 'UNPAID' %>
    <div class="buttons p-l p-r m-t">
      <button class="btn btn-default m-l m-r p-t p-b t-left">取消订单</button>
      <button class="btn btn-default btn-highlight m-l m-r p-t p-b t-right">立即付款</button>
      <div class="clear">
      </div>
    </div>
  <% elsif @order_detail.order.order_status.to_s == 'SUCCESS' %>
    <div class="buttons p-l p-r m-t">
      <button class="btn btn-default m-l m-r p-t p-b t-left">退货退款</button>
      <button class="btn btn-default btn-highlight m-l m-r p-t p-b t-right">查看物流</button>
      <div class="clear">
      </div>
    </div>
  <% end %>
</div>
