<div class="project_detail" id="project_detail">
  <div class="project-detail-head">
    <%= image_tag @project.main_pic.to_s %>
  </div>

  <div class="project-title m-t m-b m-l p-l"><%= @project.project_name.to_s %></div>

  <div class="progress">
    <div class="progress-bar">
      <div class="green-bar"></div>
    </div>
    <div class="progress-percent">
      <p>40%</p>
    </div>
  </div>

  <div class="support-info m-t m-b">
    <div class="supporters p-r">
      <p class="total">10</p>
      <p>无偿奉献爱心</p>
    </div>
    <div class="supporters p-r">
      <p class="total">10</p>
      <p>购买给予支持</p>
    </div>
    <div class="money p-r">
      <p class="total">5000</p>
      <p>累计款项</p>
    </div>
  </div>

  <div class="project-detail-area m-l m-r m-t m-b">
    <div class="cate-title-wrapper p-t p-b">
      <div class="cate-title p-l">
        <div class="p-bar"></div>
        <span class="p-title p-l">项目详情</span>
      </div>
    </div>
    <div class="detail-body p-t p-b p-l p-r">
      <%= @project.project_detail.html_safe.to_s %>
    </div>
  </div>

  <div class="project-detail-area m-l m-r m-t m-b">
    <div class="cate-title-wrapper p-t p-b">
      <div class="cate-title p-l">
        <div class="p-bar"></div>
        <span class="p-title p-l">发起人</span>
      </div>
    </div>
  </div>

  <div class="project-detail-area m-l m-r m-t m-b">
    <div class="cate-title-wrapper p-t p-b">
      <div class="cate-title p-l">
        <div class="p-bar"></div>
        <span class="p-title p-l">支持者</span>
      </div>
    </div>

    <div class="project-supporters p-b">
      <div class="supporter-avatar m-t m-l">
        <%= image_tag 'avatar.jpg' %>
      </div>

      <div class="supporter-avatar m-t m-l">
        <%= image_tag 'avatar.jpg' %>
      </div>
    </div>

  </div>

  <div class="project-detail-area m-l m-r m-t m-b">
    <div class="cate-title-wrapper p-t p-b">
      <div class="cate-title p-l">
        <div class="p-bar"></div>
        <span class="p-title p-l">留言区</span>
      </div>
    </div>

    <div class="project-comment">
    </div>

  </div>

  <div class="btn-bottom-area">
    <button class="btn-default btn-highlight m-l m-r p-t p-b">无偿支持</button>
    <button class="btn-default m-l m-r p-t p-b">购买支持</button>
  </div>

</div>