<div id="overlay"></div>

<div class="project_detail" id="project_detail">
  <div class="project-detail-head">
    <%= image_tag @project.main_pic.to_s %>
  </div>

  <div class="project-title m-t m-b m-l p-l"><%= @project.project_name.to_s %></div>

  <div class="progress">
    <div class="progress-bar">
      <div class="green-bar"></div>
    </div>
    <div class="progress-percent">
      <p>40%</p>
    </div>
  </div>

  <div class="support-info m-t m-b">
    <div class="supporters p-r">
      <p class="total">10</p>
      <p>无偿奉献爱心</p>
    </div>
    <div class="supporters p-r">
      <p class="total">10</p>
      <p>购买给予支持</p>
    </div>
    <div class="money p-r">
      <p class="total">5000</p>
      <p>累计款项</p>
    </div>
  </div>

  <div class="project-detail-area m-l m-r m-t m-b">
    <div class="cate-title-wrapper p-t p-b">
      <div class="cate-title p-l">
        <div class="p-bar"></div>
        <span class="p-title p-l">项目详情</span>
      </div>
    </div>
    <div class="detail-body p-t p-b p-l p-r">
      <%= @project.project_detail.html_safe.to_s %>
    </div>
  </div>

  <div class="project-detail-area m-l m-r m-t m-b">
    <div class="cate-title-wrapper p-t p-b">
      <div class="cate-title p-l">
        <div class="p-bar"></div>
        <span class="p-title p-l">发起人</span>
      </div>
    </div>
  </div>

  <div class="project-detail-area m-l m-r m-t m-b">
    <div class="cate-title-wrapper p-t p-b">
      <div class="cate-title p-l">
        <div class="p-bar"></div>
        <span class="p-title p-l">支持者</span>
      </div>
    </div>

    <div class="project-supporters p-b">
      <div class="supporter-avatar m-t m-l">
        <%= image_tag 'avatar.jpg' %>
      </div>

      <div class="supporter-avatar m-t m-l">
        <%= image_tag 'avatar.jpg' %>
      </div>
    </div>

  </div>

  <div class="project-detail-area m-l m-r m-t m-b">
    <div class="cate-title-wrapper p-t p-b">
      <div class="cate-title p-l">
        <div class="p-bar"></div>
        <span class="p-title p-l">留言区</span>
      </div>
    </div>

    <div class="project-comment">
    </div>

  </div>

  <div class="btn-bottom-area">
    <button class="btn-default btn-highlight m-l m-r p-t p-b" id="dedicate-btn">无偿支持</button>
    <button class="btn-default m-l m-r p-t p-b" id="purchase-btn">购买支持</button>
  </div>

</div>

<div class="dedications tt m-t m-b" id="dedications">
  <%= form_tag supports_path, method: :post do %>
    <p class="title">请输入任意大于等于1的数字</p>
    <p class="title">您的点滴付出对我们都是洪流般的帮助</p>
    <%= number_field_tag :money, min: '1', max: '100' %>
    <span>元</span>
    <%= hidden_field_tag 'pid', @project.id %>
    <%= hidden_field_tag 'type', '1' %>
    <div class="buttons m-t m-b">
      <%= submit_tag '确定', id: 'confirm-btn', class: 'btn btn-default btn-highlight btn-middle m-l m-r p-t p-b' %>
    </div>
  <% end %>
</div>

<div class="purchases tt m-t m-b" id="purchases">
  <p class="title">通过购买以下商品，您将直接或间接支持到该项目</p>
  <p>K。之前写的demo可以拿来直接用的，手贱被我删了。。。。。。。</p>
</div>

<% content_for :title, '项目详情' %>

<script>
  $(document).ready(function () {
    $('#dedicate-btn').on('click', function () {
      $('#overlay').fadeIn('fast', function () {
        $('#dedications').animate({height: 'toggle'}, 'fast')
      })
    });
    $('#purchase-btn').on('click', function () {
      $('#overlay').fadeIn('fast', function () {
        $('#purchases').animate({height: 'toggle'}, 'fast')
      })
    });
    $('#overlay').on('click', function () {
      $('.tt').slideUp( 'fast', function () {
        $('#overlay').fadeOut('fast')
      })
    });
  })
</script>