<div class="overflow-hidden">
  <div class="wrapper no-navigation preload">
    <div class="sign-in-wrapper">
      <div class="sign-in-inner">
        <div class="login-brand text-center">
          <i class="fa fa-database m-right-xs"></i><strong class="text-skin"> Charitime </strong> Admin
        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field form-group m-bottom-md">
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'email' %>
          </div>

          <div class="field form-group m-bottom-md">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'password' %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field form-group m-bottom-md">
              <%= f.check_box :remember_me, id: 'chkRemember' %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions form-group m-top-md p-top-sm">
            <%= f.submit "Log in", class: 'btn btn-success block' %>
          </div>
        <% end %>

      </div>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>