<div class="row m-bottom-md">
  <div class="page-title col-md-12">
    Dashboard
  </div>
</div>

<div class="row m-bottom-md">
  <div class="col-lg-3 col-sm-6">
    <div class="statistic-box bg-primary m-bottom-md">
      <div class="statistic-title">
        待发货订单
      </div>

      <div class="statistic-value">
        <%= link_to undelivered_orders_admin_orders_path do %>
          <%= @num_undelivered_orders %>
        <% end %>
      </div>

      <!--<div class="m-top-md">8% Higher than last week</div>-->

      <div class="statistic-icon-background">
        <i class="ion-ios7-cart-outline"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-sm-6">
    <div class="statistic-box bg-success m-bottom-md">
      <div class="statistic-title">
        今日销售额
      </div>

      <div class="statistic-value">
        ￥<%= '%.2f' % @sales_volume %>
      </div>

      <!--<div class="m-top-md">7% Higher than last week</div>-->

      <div class="statistic-icon-background">
        <i class="ion-stats-bars"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-sm-6">
    <div class="statistic-box bg-purple m-bottom-md">
      <div class="statistic-title">
        今日新增用户
      </div>

      <div class="statistic-value">
        <%= @num_new_users %>
      </div>

      <!--<div class="m-top-md">3% Higher than last week</div>-->

      <div class="statistic-icon-background">
        <i class="ion-person-add"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-sm-6">
    <div class="statistic-box bg-danger m-bottom-md">
      <div class="statistic-title">
        项目获得支持
      </div>

      <div class="statistic-value">
        <%= @num_supports %>
      </div>

      <!--<div class="m-top-md">11% Higher than last week</div>-->

      <div class="statistic-icon-background">
        <i class="ion-android-favorite"></i>
      </div>
    </div>

  </div>
</div>