<%= form_for @address == nil ? '/addresses' : @address do |f| %>
  <%#= binding.pry %>
  <div class="form-item">
    <%= f.label :姓名, class: 'label-text' %>
    <div class="field-column"><%= f.text_field :receiver_name, id: 'receiver_name', class: 'field-control', required: true %></div>
  </div>

  <div class="form-item">
    <%= f.label :手机, class: 'label-text' %>
    <div class="field-column"><%= f.number_field :mobile, id: 'mobile', class: 'field-control', required: true %></div>
  </div>

  <div class="form-item">
    <div class="label-text">地址</div>
  </div>

  <div class="form-item">
    <div class="city-group">
      <select name="province" id="province" class="city-select">
        <option class="default">--省份--</option>
          <%= options_for_select(ChinaCity.list) %>
      </select>

      <select name="city" id="city" class="city-select">
          <option class="default">--城市--</option>
      </select>

      <select name="district" id="district" class="city-select">
          <option class="default">--区域--</option>
      </select>

    </div>
  </div>

  <div class="form-item p-b">
    <div class="field-column"><%= f.text_field :detail_address, id: 'detail_address', class: 'field-control', size: 30, placeholder: '请输入详细地址', required: true %></div>
  </div>

  <div class="buttons">
    <%= f.submit '保存', id: 'save-address', class: "btn btn-default btn-highlight" %>
    <%= link_to '取消', 'javascript:;', id: 'cancel-btn', class: "btn btn-default" %>
  </div>
<% end %>



