<div id="add-address-form" class="add-address-form">
  <%= form_for @address, url: url, html: { class: 'form-horizontal' } do |f| %>
    <div class="form-group">
      <%= f.label :姓名, class: 'col-lg-1 control-label' %>
      <div class="col-lg-4"><%= f.text_field :name, class: 'col-lg-4 form-control', required: true %></div>
    </div>

    <div class="form-group">
      <%= f.label :手机号, class: 'col-lg-1 control-label' %>
      <div class="col-lg-4"><%= f.text_field :phone_number, class: 'col-lg-4 form-control', required: true %></div>
    </div>

    <div class="form-group">
      <%= f.label :地址, class: 'col-lg-1 control-label' %>
      <div class="city-group">

        <%= f.select :province, options_for_select(ChinaCity.list), {}, { :class => 'city-select' } %>
        <%= f.select :city, {}, {}, {:class => 'city-select'} %>
        <%= f.select :district, {}, {}, {:class => 'city-select'} %>

        <!--<select class="city-select">-->
          <!--<option value="">&#45;&#45;城市&#45;&#45;</option>-->
        <!--</select>-->

        <!--<select class="city-select">-->
          <!--<option value="">&#45;&#45;区县&#45;&#45;</option>-->
        <!--</select>-->

      </div>
      <div class="col-lg-4"><%= f.text_field :detail_info, class: 'col-lg-4 form-control', required: true %></div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-1 col-lg-10">
        <%= f.submit '保存', class: "btn btn-sm btn-primary" %>
        &nbsp
        <%= link_to '返回', '#', class: "btn btn-sm btn-info", onclick: "history.back()" %>
      </div>
    </div>
  <% end %>

</div>
