<%= form_for @product, url: url, html: {class: 'form-horizontal'} do |f| %>
    <div class="form-group">
      <%= f.label :product_name, class: 'col-lg-1 control-label' %>
      <div class="col-lg-4"><%= f.text_field :product_name, class: 'col-lg-4 form-control', required: true %></div>
    </div>

    <div class="form-group">
      <%= f.label :thumb, class: 'col-lg-1 control-label' %>
      <% if @product.thumb.blank? %>
        <div class="col-lg-4"><%= f.file_field :thumb, class: 'col-lg-4 form-control', required: true %></div>
      <% else %>
        <div style="margin-bottom: 14px;"><%= render_img @product.thumb, :width => '80px', :height => '80px' %></div>
        <div class="col-lg-4 col-lg-offset-1"><%= f.file_field :thumb, class: 'form-control' %></div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :category, class: 'col-lg-1 control-label' %>
      <% if @product.category.blank? %>
        <div class="col-lg-4"><%= f.select :category, options_for_select([["类别1", "1"], ["类别2", "2"]]), { prompt: '-- select one --' }, { class: 'col-lg-4 form-control', required: true } %></div>
      <% else %>
        <div class="col-lg-4"><%= f.select :category, options_for_select([["类别1", "1"], ["类别2", "2"]], selected: "#{@product.category}"), {}, { class: 'col-lg-4 form-control', required: true } %></div>
      <% end %>
    </div>

    <!--<div class="form-group">-->
      <!--<%#= f.label :label, class: 'col-lg-1 control-label' %>-->
      <!--<div class="col-lg-4"><%#= f.select :label, options_for_select([["标签1", "1"], ["标签2", "2"]]), {prompt: '&#45;&#45; select one &#45;&#45;'}, {class: 'col-lg-4 form-control', required: true} %></div>-->
    <!--</div>-->

    <div class="form-group">
      <%= f.label :product_detail, class: 'col-lg-1 control-label' %>
      <div class="col-lg-11"><%= f.cktext_area :product_detail %></div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-1 col-lg-10">
        <%= f.submit '保存', class: "btn btn-sm btn-primary" %>
        &nbsp
        <%= link_to '返回', '#', class: "btn btn-sm btn-info", onclick: "history.back()" %>
      </div>
    </div>
<% end %>
