<div class="nav-content-head">
  <ul class="breadcrumb">
    <li><span class="primary-font"><i class="icon-home"></i></span><a href="/admin/home"> Home</a></li>
    <li>商品管理</li>
    <li>全部商品</li>
  </ul>

  <%= link_to new_admin_product_path, class: 'btn-new btn btn-primary marginTB-xs' do %>
    <i class="fa fa-plus m-right-xs"></i>New Product
  <% end %>
</div>


<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="table-responsive">
      <%= dt id: 'products_datatable', class: 'table table-striped b-t b-b', :'data-url' => admin_products_path(:format => :json) do %>
        <%= dt_col(Product.hn(:product_id), data: {data: 'product_id'}) %>
        <%= dt_col(Product.hn(:product_name), data: {data: 'product_name'}) %>
        <%= dt_col(Product.hn(:thumb), data: {data: 'thumb'}) %>
        <%= dt_col(Product.hn(:product_category), data: {data: 'product_category_id'}) %>
        <%= dt_col(Product.hn(:product_label), data: {data: 'product_label_id'}) %>
        <%= dt_col(Product.hn(:product_detail), data: {data: 'product_detail'}) %>
        <%= dt_col(Product.hn(:created_at), data: {data: 'created_at'}) %>
        <%= dt_col(Product.hn(:action), data: {data: 'actions'}) %>
        <%= dt_col(Product.hn(:recommend_action), data: {data: 'recommended_action'}) %>
      <% end %>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <%= controller_js_include %>
<% end %>
