<div class="supports p-t p-b" id="supports">
  <div class="support-list p-r p-l">

    <div class="support-item m-t">
      <div class="mask">
        <%= image_tag 'corner.png' %>
        <div class="description">
          <p class="title">项目的标题</p>
          <p>日期</p>
        </div>
      </div>
      <div class="support-pic">
        <%= image_tag 'project1.png' %>
      </div>
    </div>

    <div class="support-item m-t">
      <div class="mask">
        <%= image_tag 'corner2.png' %>
        <div class="description">
          <p class="title">项目的标题</p>
          <p>日期</p>
        </div>
      </div>
      <div class="support-pic">
        <%= image_tag 'project1.png' %>
      </div>
    </div>

  </div>
</div>

<%= content_for :title, set_title('我的支持') %>