<%= form_for @donation, url: url, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :donation_id, class: 'col-lg-1 control-label' %>
    <div class="col-lg-4"><%= f.text_field :donation_id, class: 'col-lg-4 form-control', required: true %></div>
  </div>

  <div class="form-group">
    <%= f.label :donation_name, class: 'col-lg-1 control-label' %>
    <div class="col-lg-4"><%= f.text_field :donation_name, class: 'col-lg-4 form-control', required: true %></div>
  </div>

  <div class="form-group">
    <%= f.label :donation_category, class: 'col-lg-1 control-label' %>
    <div class="col-lg-4"><%= f.select :donation_category_id, DonationCategory.all.collect { |ele| [ele.name, ele.id] }, { include_blank: '-- select one --' }, class: 'col-lg-4 form-control', required: true %></div>
  </div>

  <div class="form-group">
    <%= f.label :donation_description, class: 'col-lg-1 control-label' %>
    <div class="col-lg-4"><%= f.text_field :donation_description, class: 'col-lg-4 form-control', required: true %></div>
  </div>

  <div class="form-group">
    <%= f.label :logistics_company, class: 'col-lg-1 control-label' %>
    <div class="col-lg-4"><%= f.text_field :logistics_company, class: 'col-lg-4 form-control', required: true %></div>
  </div>

  <div class="form-group">
    <%= f.label :delivery_num, class: 'col-lg-1 control-label' %>
    <div class="col-lg-4"><%= f.text_field :delivery_num, class: 'col-lg-4 form-control', required: true %></div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-1 col-lg-10">
      <%= f.submit '保存', class: "btn btn-sm btn-primary" %>
      &nbsp
      <%= link_to '返回', '#', class: "btn btn-sm btn-info", onclick: "history.back()" %>
    </div>
  </div>
<% end %>