<aside class="sidebar-menu fixed">
  <div class="sidebar-inner scrollable-sidebar">
    <div class="main-menu">
      <ul class="accordion">
        <li class="menu-header">
          Main Menu
        </li>

        <li class="bg-palette1">
          <a href="/admin/home">
            <span class="menu-content block">
              <span class="menu-icon"><i class="block fa fa-home fa-lg"></i></span>
              <span class="text m-left-sm">Dashboard</span>
            </span>
            <span class="menu-content-hover block">
              Dash
            </span>
          </a>
        </li>

        <li class="bg-palette3">
          <%= link_to admin_users_path do %>
            <span class="menu-content block">
              <span class="menu-icon"><i class="block fa fa-list fa-lg"></i></span>
              <span class="text m-left-sm">用户管理</span>
            </span>
            <span class="menu-content-hover block">
              用户
            </span>
          <% end %>
        </li>

        <li class="openable bg-palette2">
          <a href="#">
            <span class="menu-content block">
              <span class="menu-icon"><i class="block fa fa-list fa-lg"></i></span>
              <span class="text m-left-sm">商品管理</span>
              <span class="submenu-icon"></span>
            </span>
            <span class="menu-content-hover block">
              商品
            </span>
          </a>

          <ul class="submenu bg-palette2">
            <li class="<%= render_active ({:menu => 'products' }) %>">
              <%= link_to admin_products_path do %>
                <span class="submenu-label">全部商品</span>
              <% end %>
            </li>
            <li class="<%= render_active ({:menu => 'products_recommended' }) %>">
              <%= link_to admin_products_recommended_path do %>
                <span class="submenu-label">商品推荐</span>
              <% end %>
            </li>
            <li class="<%= render_active ({:menu => 'product_categories' }) %>">
              <%= link_to admin_product_categories_path do %>
                <span class="submenu-label">商品类别</span>
              <% end %>
            </li>
            <li class="<%= render_active ({:menu => 'product_labels' }) %>">
              <%= link_to admin_product_labels_path do %>
                <span class="submenu-label">商品标签</span>
              <% end %>
            </li>
          </ul>
        </li>

        <li class="openable bg-palette3">
          <a href="#">
            <span class="menu-content block">
              <span class="menu-icon"><i class="block fa fa-list fa-lg"></i></span>
              <span class="text m-left-sm">项目管理</span>
              <span class="submenu-icon"></span>
            </span>
            <span class="menu-content-hover block">
              项目
            </span>
          </a>

          <ul class="submenu bg-palette2">
            <li class="<%= render_active ({:menu => 'projects' }) %>">
              <%= link_to admin_projects_path do %>
                <span class="submenu-label">全部项目</span>
              <% end %>
            </li>
            <li class="<%= render_active ({:menu => 'project_types' }) %>">
              <%= link_to admin_project_types_path do %>
                <span class="submenu-label">项目类型</span>
              <% end %>
            </li>
            <li class="<%= render_active ({:menu => 'support_types' }) %>">
              <%= link_to admin_support_types_path do %>
                <span class="submenu-label">支持类型</span>
              <% end %>
            </li>
          </ul>
        </li>
        </li>

        <li class="openable bg-palette4">
          <a href="#">
            <span class="menu-content block">
              <span class="menu-icon"><i class="block fa fa-list fa-lg"></i></span>
              <span class="text m-left-sm">订单管理</span>
              <span class="submenu-icon"></span>
            </span>
            <span class="menu-content-hover block">
              订单
            </span>
          </a>
          <ul class="submenu bg-palette4">
            <li><a href="form_element.html"><span class="submenu-label">全部订单</span></a></li>
            <li><a href="form_validation.html"><span class="submenu-label">待付款订单</span></a></li>
            <li><a href="form_validation.html"><span class="submenu-label">待发货订单</span></a></li>
            <li><a href="form_validation.html"><span class="submenu-label">已完成订单</span></a></li>
          </ul>
        </li>

        <li class="openable bg-palette2">
          <a href="#">
            <span class="menu-content block">
              <span class="menu-icon"><i class="block fa fa-list fa-lg"></i></span>
              <span class="text m-left-sm">捐赠管理</span>
              <span class="submenu-icon"></span>
            </span>
            <span class="menu-content-hover block">
              商品
            </span>
          </a>

          <ul class="submenu bg-palette2">
            <li class="<%= render_active ({:menu => 'donations' }) %>">
              <%= link_to admin_donations_path do %>
                <span class="submenu-label">全部捐赠</span>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- sidebar-inner -->
</aside>

<script>
  $('.active').parent().parent().addClass('open')
</script>
