<aside class="sidebar-menu fixed">
  <div class="sidebar-inner scrollable-sidebar">
    <div class="main-menu">
      <ul class="accordion">
        <li class="menu-header">
          Main Menu
        </li>
        <li class="bg-palette1">
          <a href="index.html">
            <span class="menu-content block">
              <span class="menu-icon"><i class="block fa fa-home fa-lg"></i></span>
              <span class="text m-left-sm">Dashboard</span>
            </span>
            <span class="menu-content-hover block">
              Dash
            </span>
          </a>
        </li>

        <li class="bg-palette3">
          <%= link_to admin_users_path do %>
            <span class="menu-content block">
              <span class="menu-icon"><i class="block fa fa-list fa-lg"></i></span>
              <span class="text m-left-sm">用户管理</span>
            </span>
            <span class="menu-content-hover block">
              用户
            </span>
          <% end %>
        </li>

        <li class="openable bg-palette2 <%= render_active ({ :ul => 'products' }) %>">
          <a href="#">
            <span class="menu-content block">
              <span class="menu-icon"><i class="block fa fa-list fa-lg"></i></span>
              <span class="text m-left-sm">商品管理</span>
              <span class="submenu-icon"></span>
            </span>
            <span class="menu-content-hover block">
              商品
            </span>
          </a>

          <ul class="submenu bg-palette4">
            <li class="<%= render_active ({ :ul => 'products', :li => 'index' }) %>">
              <%= link_to admin_products_path do %>
                <span class="submenu-label">全部商品</span>
              <% end %>
            </li>
            <li>
              <a href="form_validation.html">
                <span class="submenu-label">商品推荐</span>
              </a>
            </li>
            <li class="<%= render_active ({ :ul => 'product_categories', :li => 'categories' }) %>">
              <%= link_to admin_product_categories_path do %>
                <span class="submenu-label">商品类别</span>
              <% end %>
            </li>
            <li class="<%= render_active ({ :ul => 'product_labels', :li => 'index' }) %>">
              <%= link_to admin_product_labels_path do %>
                <span class="submenu-label">商品标签</span>
              <% end %>
            </li>
          </ul>
        </li>

        <li class="bg-palette3">
          <%= link_to admin_projects_path do %>
            <span class="menu-content block">
              <span class="menu-icon"><i class="block fa fa-list fa-lg"></i></span>
              <span class="text m-left-sm">项目发布</span>
            </span>
            <span class="menu-content-hover block">
              项目
            </span>
          <% end %>
        </li>

        <li class="openable bg-palette4">
          <a href="#">
            <span class="menu-content block">
              <span class="menu-icon"><i class="block fa fa-list fa-lg"></i></span>
              <span class="text m-left-sm">订单管理</span>
              <span class="submenu-icon"></span>
            </span>
            <span class="menu-content-hover block">
              商品
            </span>
          </a>
          <ul class="submenu bg-palette4">
            <li><a href="form_element.html"><span class="submenu-label">全部订单</span></a></li>
            <li><a href="form_validation.html"><span class="submenu-label">待付款订单</span></a></li>
            <li><a href="form_validation.html"><span class="submenu-label">待发货订单</span></a></li>
            <li><a href="form_validation.html"><span class="submenu-label">已完成订单</span></a></li>
          </ul>
        </li>

        <li class="openable bg-palette4">
          <a href="#">
            <span class="menu-content block">
              <span class="menu-icon"><i class="block fa fa-tags fa-lg"></i></span>
              <span class="text m-left-sm">UI Elements</span>
              <span class="submenu-icon"></span>
            </span>
            <span class="menu-content-hover block">
              UI Kits
            </span>
          </a>
          <ul class="submenu">
            <li><a href="ui_element.html"><span class="submenu-label">Basic Elements</span></a></li>
            <li><a href="button.html"><span class="submenu-label">Button & Icons</span></a></li>
            <li class="openable">
              <a href="#">
                <small class="badge badge-success badge-square bounceIn animation-delay2 m-left-xs pull-right">2</small>
                <span class="submenu-label">Tables</span>
              </a>
              <ul class="submenu third-level">
                <li><a href="static_table.html"><span class="submenu-label">Static Table</span></a></li>
                <li><a href="datatable.html"><span class="submenu-label">DataTables</span></a></li>
              </ul>
            </li>
            <li><a href="widget.html"><span class="submenu-label">Widget</span></a></li>
            <li><a href="tab.html"><span class="submenu-label">Tab</span></a></li>
            <li><a href="calendar.html"><span class="submenu-label">Calendar</span></a></li>
            <li><a href="treeview.html"><span class="submenu-label">Treeview</span></a></li>
            <li><a href="nestable_list.html"><span class="submenu-label">Nestable Lists</span></a></li>
          </ul>
        </li>

        <li class="bg-palette1">
          <a href="inbox.html">
            <span class="menu-content block">
              <span class="menu-icon"><i class="block fa fa-envelope fa-lg"></i></span>
              <span class="text m-left-sm">Inboxs</span>
              <small class="badge badge-danger badge-square bounceIn animation-delay5 m-left-xs">5</small>
            </span>
            <span class="menu-content-hover block">
              Inboxs
            </span>
          </a>
        </li>
        <li class="bg-palette2">
          <a href="timeline.html">
            <span class="menu-content block">
              <span class="menu-icon"><i class="block fa fa-clock-o fa-lg"></i></span>
              <span class="text m-left-sm">Timeline</span>
              <small class="badge badge-warning badge-square bounceIn animation-delay6 m-left-xs pull-right">7</small>
            </span>
            <span class="menu-content-hover block">
              Timeline
            </span>
          </a>
        </li>
        <li class="menu-header">
          Others
        </li>
        <li class="openable bg-palette3">
          <a href="#">
            <span class="menu-content block">
              <span class="menu-icon"><i class="block fa fa-gift fa-lg"></i></span>
              <span class="text m-left-sm">Extra Pages</span>
              <span class="submenu-icon"></span>
            </span>
            <span class="menu-content-hover block">
              Pages
            </span>
          </a>
          <ul class="submenu">
            <li><a href="signin.html"><span class="submenu-label">Sign in</span></a></li>
            <li><a href="signup.html"><span class="submenu-label">Sign Up</span></a></li>
            <li><a href="lockscreen.html"><span class="submenu-label">Lock Screen</span></a></li>
            <li><a href="profile.html"><span class="submenu-label">Profile</span></a></li>
            <li><a href="gallery.html"><span class="submenu-label">Gallery</span></a></li>
            <li><a href="blog.html"><span class="submenu-label">Blog</span></a></li>
            <li><a href="single_post.html"><span class="submenu-label">Single Post</span></a></li>
            <li><a href="pricing.html"><span class="submenu-label">Pricing</span></a></li>
            <li><a href="invoice.html"><span class="submenu-label">Invoice</span></a></li>
            <li><a href="error404.html"><span class="submenu-label">Error404</span></a></li>
            <li><a href="blank.html"><span class="submenu-label">Blank</span></a></li>
          </ul>
        </li>
        <li class="openable bg-palette4">
          <a href="#">
            <span class="menu-content block">
              <span class="menu-icon"><i class="block fa fa-list fa-lg"></i></span>
              <span class="text m-left-sm">Menu Level</span>
              <span class="submenu-icon"></span>
            </span>
            <span class="menu-content-hover block">
              Menu
            </span>
          </a>
          <ul class="submenu">
            <li class="openable">
              <a href="signin.html">
                <span class="submenu-label">menu 2.1</span>
                <small class="badge badge-success badge-square bounceIn animation-delay2 m-left-xs pull-right">3</small>
              </a>
              <ul class="submenu third-level">
                <li><a href="#"><span class="submenu-label">menu 3.1</span></a></li>
                <li><a href="#"><span class="submenu-label">menu 3.2</span></a></li>
                <li class="openable">
                  <a href="#">
                    <span class="submenu-label">menu 3.3</span>
                    <small class="badge badge-danger badge-square bounceIn animation-delay2 m-left-xs pull-right">2</small>
                  </a>
                  <ul class="submenu fourth-level">
                    <li><a href="#"><span class="submenu-label">menu 4.1</span></a></li>
                    <li><a href="#"><span class="submenu-label">menu 4.2</span></a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#"><span class="submenu-label">menu 2.2</span></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- sidebar-inner -->
</aside>

