<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>慈善超市后台管理</title>
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="overflow-hidden">
<!--<div class="app app-aside-fixed">-->
<%= render 'shared/admin/header' %>
<%= render 'shared/admin/sidebar' %>

<!--<div class="app-content">-->
<%= yield %>
<!--</div>-->

<%#= yield :scripts %>
<%#= yield :styles %>
<!--</div>-->
</body>
</html>