<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>慈善超市后台管理</title>
    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true  %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true  %>
    <%= csrf_meta_tags %>
  </head>

  <body class="overflow-hidden">
    <div class="wrapper">
      <%= render 'shared/admin/header' %>
      <%= render 'shared/admin/sidebar' %>

      <div class="main-container">
        <div class="padding-md">
          <%= yield %>
        </div>
      </div>
    </div>

    <a href="#" class="scroll-to-top hidden-print"><i class="fa fa-chevron-up fa-lg"></i></a>

    <%= yield :outside_container %>
    <%= yield :scripts %>
    <%= yield :styles %>
  </body>
</html>
